html {
    font-family: 'Cantarell', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

/*Help removing orizontal scrollbars—especially on Windows*/
body {
overflow-x: hidden;
}

/* Having a container like “wrapper” helps to create consistent, centred content.*/
.wrapper {
max-width: 50%;
margin-left: auto;
margin-right: auto;
}

/**
* FULL BLEED
*
* Add this class to an element to make it fill the width of the screen 
* and sit horizontally central
*/
.full-bleed {
width: 100vw;
margin-left: calc(50% - 50vw);
}

/* Presentational component */
.promo {
color: #ffffff;
background-color: #bd1452;
padding: 3rem .5rem;
}
