.contact {
    background-color: $color-light-1;
    
    &__box {
        padding: 2rem 0;
        text-align: center;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.9;
        font-weight: 300;
        width: 80%;
        margin: 0 auto;
    }

    &__details {
        font-weight: 400;
        font-size: 1.6rem;
        backface-visibility: hidden;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        
        @include respond(phone) {
            font-size: 1.5rem;
        }
    }

    &__form {
        text-align: center;
        width: 50vw;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 80vw;
        }

        @include respond(phone) {
            width: 90vw;
        }
    }
}