.form {
text-align: left;    
    &__group:not(:last-child) {
        margin-bottom: 1.3rem;
    }

    &__input {
        font-size: 1.2rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        
        background-color: $color-white;
        border: none;
        border-bottom: 2px solid transparent;
        width: 100%;
        display: block;
        transition: all .3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-dark, .1);
            border-bottom: 2px solid $color-form-valid;
        }

        &:focus:invalid {
            border-bottom: 2px solid $color-form-invalid;
        }



        &::-webkit-input-placeholder {
            color: $color-grey-dark;
        }
        
    }

    &__input--message {
        font-size: 1.2rem;
        line-height: 1.7rem;
    }



       
    &__label {
        font-size: 1rem;
        font-weight: 400;
        margin-left: 2rem;
        margin-top: .5rem;
        display: block;
        color: $color-grey-dark;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        // transform: translateY(-4rem);
    }
}