//////////////****////////////
//THIS SECTION NEEDS TO BE REFACTORED
//////


/*PAGE HERO section*/


.hero__page {
    height: 70vh;
    width: 100%;
    background-image: url(../img/about--hero-image.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    @include respond(tab-land) {
        height: 45vh;
    }

    //IF THERE IS HEADING TEXT
    // &__text-box {
    //     position: absolute;
    //     z-index: 4;
    //     top: 55%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     text-align: center;
    // }
}


  /* HERO HYPNOSIS section*/
  .hero__hypnosis {
    height: 70vh;
    width: 100%;
    background-image: url(../img/what-is-hypnosisCTA-large.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    @include respond(tab-land) {
        height: 45vh;
    }

    //IF THERE IS HEADING TEXT
    // &__text-box {
    //     position: absolute;
    //     z-index: 4;
    //     top: 55%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     text-align: center;
    // }
}


    /* HERO REFERRAL section*/
    .hero__referral {
        height: 70vh;
        width: 100%;
        background-image: url(../img/referral-pathways-CTA-large.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
    
        @include respond(tab-land) {
            height: 45vh;
        }
    
        //IF THERE IS HEADING TEXT
        // &__text-box {
        //     position: absolute;
        //     z-index: 4;
        //     top: 55%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     text-align: center;
        // }
    }


    /* HERO PRIVACY section*/
    .hero__privacy {
        height: 70vh;
        width: 100%;
        background-image: url(../img/privacy-and-confidentiality-CTA-large.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
    
        @include respond(tab-land) {
            height: 45vh;
        }
    
        //IF THERE IS HEADING TEXT
        // &__text-box {
        //     position: absolute;
        //     z-index: 4;
        //     top: 55%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     text-align: center;
        // }
    }

       /* HERO TREATMENT PROGRAM section*/
       .hero__treatment {
        height: 70vh;
        width: 100%;
        background-image: url(../img/treatment-programs-CTA-large-2000x1125.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
    
        @include respond(tab-land) {
            height: 45vh;
        }
    
        //IF THERE IS HEADING TEXT
        // &__text-box {
        //     position: absolute;
        //     z-index: 4;
        //     top: 55%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     text-align: center;
        // }
    }
    
      /* HERO ONLINE CONSULTATION section*/
      .hero__online {
        height: 70vh;
        width: 100%;
        background-image: url(../img/online-treatment-2000x1125.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
    
        @include respond(tab-land) {
            height: 45vh;
        }
    
        //IF THERE IS HEADING TEXT
        // &__text-box {
        //     position: absolute;
        //     z-index: 4;
        //     top: 55%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     text-align: center;
        // }
    }

     /* HERO SERVICES page*/
     .hero__services {
        height: 70vh;
        width: 100%;
        background-image: url(../img/services-CTA-large-2000x1125.jpg);
        background-size: cover;
        background-position: top;
        position: relative;
    
        @include respond(tab-land) {
            height: 45vh;
        }
    
        //IF THERE IS HEADING TEXT
        // &__text-box {
        //     position: absolute;
        //     z-index: 4;
        //     top: 55%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        //     text-align: center;
        // }
    }

/* HERO Psychological SERVICES page*/
.hero__psycho--services {
    height: 70vh;
    width: 100%;
    background-image: url(../img/Psychological-services-2000x1115.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    @include respond(tab-land) {
        height: 45vh;
    }

    //IF THERE IS HEADING TEXT
    // &__text-box {
    //     position: absolute;
    //     z-index: 4;
    //     top: 55%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     text-align: center;
    // }
}



