.highlight {
    background-color: $color-light-1; 
    padding: 3rem 0;

    @include respond(phone) {
        padding: 1rem 0;
        max-width: 100%;
    }

    &__box {
        max-width: 70%;
        padding-top: 2rem;

        @include respond(phone) {
            max-width: 80%;
        }
    }

    &__list {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 2.8rem;

        @include respond(phone) {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 2rem;
        }
    }

}