.services {
  padding: 3rem 0;
  display: flex;
  //align-items: stretch;
  justify-content: center;

  &__box {
    padding: 3rem;
    box-sizing: border-box;
    flex-basis: 48%;
    text-align: left;
  }

  &__image {
    width: 100%;
  }
}
