/***TOP MARGINS***/
.u-margin__top--small {
    margin-top: 1rem;
}

.u-margin__top--medium {
    margin-top: 2.5rem;
}

.u-margin__top--large {
    margin-top: 3.5rem;
}

/***BOTTOM MARGINS***/
.u-margin__bottom--small {
    margin-bottom: 1rem;
}

.u-margin__bottom--medium {
    margin-bottom: 2.5rem;
}

.u-margin__bottom--large {
    margin-bottom: 3.5rem;
}

////////ALIGN CENTER/////
.u-center {
    text-align: center;
}